body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #ebf4fa;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin-bottom: 0px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: rgb(250, 253, 32);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.jumbotron-banner {
    background-image: url(https://www.goodfreephotos.com/albums/canada/alberta/jasper-national-park/final24.jpg);
    background-size: cover;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid (250, 253, 32);
}

.my-container {
    border: 1px solid green;
}

.my-row {
    border: 3px solid red;
}

.my-col {
    border: 3px dotted blue;
}
.wrapper {
    max-width: 960px; /** 20px smaller, to fit the paddings on the sides */
 
    padding-right: 10px;
    padding-left:  10px;
}